{% extends 'base.html' %}
{% load static %}
{% block content %}

<h4 style="text-align: center;">Select a Muscle</h4>
<div class="container">
  <div class="row">
  {% for primary_muscle, exercises in categorized_exercises_dict.items %}
  <a href="{% url 'muscle_exercise_index' primary_muscle|slice:"2:-2" %}">
    <div class="col s4">
      <div class="card">
          <div class="card-action">
              <p>{{ primary_muscle|slice:"2:-2"|upper}}</p>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
