{% extends 'base.html' %}

{% block content %}
<h3 style="text-align: center;">{{ exercise.name|title }} </h3>

<div class="row">
 <div class="col s12 m6">
   <div class="card">
     <div class="card-content">
       <h6>Exercise Name: {{exercise.name}}</h6>
       <h6>Difficulty: {{exercise.level|capfirst}}</h6>
       <h6>Muscle Group(s): {{ exercise.primaryMuscles|slice:"2:-2"|title }}</h6>
     </div>
   </div>
 </div>
 <div class="col s12 m6">
   <div class="card">
     <div class="card-image">
       <div class="carousel carousel-slider">
         {% for image in exercise.images %}
           <a class="carousel-item" href="#one!"><img style="height: 400px;" class="materialboxed" src="../../../static/exercises_images/{{ image }}"></a>
         {% endfor %}
       </div>
     </div>
   </div>
 </div>
 <div class="col s12">
   <div class="card">
     <div class="card-content">
       <h6>Instructions</h6>
          <ol>
              {% for steps in steps_list %}
                <li>{{ steps }}</li>
              {% endfor %}
          </ol>
     </div>
   </div>
 </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, { fullWidth: true, indicators: true });
  });
</script>

{% endblock content %}
