{% extends 'base.html' %}
{% load static %}


{% block content %}
 <h3 style="text-align: center;">{{ muscle_name|slice:"2:-2"|title }} Exercises </h3>
  <div class="container">
    <div class="row">
      {% for exercise in exercises %}
      <div class="col s4">
        <a href="{% url 'muscle_exercise_detail' exercise.name exercise.id  %}">
        <div class="card" style="height: 19rem;">
          <div class="card-image">
            {% for image in exercise.images %}
              {% if forloop.counter0 == 0 %}
                <img style="height: 10rem;" src="../../static/exercises_images/{{ image }}">
              {% endif %}
            {% endfor %}
            <div class="card-action">
                <p>{{ exercise.name|upper }}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}