{% extends 'base.html' %}

{% block content %}

{% if object %}
<h1 class="center">Edit {{ object.user }}</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" class="btn">
</form>

<script>  
const selectWeight = document.getElementById("id_weight_unit");
M.FormSelect.init(selectWeight);

const selectHeight = document.getElementById("id_height_unit");
M.FormSelect.init(selectHeight);


</script>

{% endblock %}