{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content blue-grey-text darken-1">
        <span class="card-title">{{ workout.name }}</span>
        <ul class="collection" id="workout-exercises">
          {% for exercise_in_workout in exercise_in_workouts %}
            <li class="collection-item avatar">
              <i class="material-icons circle green">fitness_center</i>
              <span class="title">{{ exercise_in_workout.exercise.name }}</span>
              <p>
                <label>Sets:</label><span data-attribute><strong>{{ exercise_in_workout.sets }}</strong></span><br>
                <label>Weight:</label><span data-attribute><strong>{{ exercise_in_workout.weight }}</strong></span><br>
                <label>Reps:</label><span data-attribute><strong>{{ exercise_in_workout.reps }}</strong></span><br>
                <label>Tempo:</label><span data-attribute><strong>{{ exercise_in_workout.tempo }}</strong></span><br>
                <label>Rest:</label><span data-attribute><strong>{{ exercise_in_workout.rest }}</strong></span>
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-action">
        <a href="{% url 'begin_workout' workout.id %}" class="waves-effect waves-light btn-small">Begin Workout</a>
        <a href="{% url 'workout_update' workout.id %}" class="waves-effect waves-light btn-small blue">Edit</a>
        <a href="{% url 'workout_delete' workout.id %}" class="waves-effect waves-light btn-small red">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
