{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <h3 style="text-align: center;">{{ workout.name|capfirst }}</h3>
        <ul class="collection" id="workout-exercises">
          {% for exercise_in_workout in exercise_in_workouts %}
            <li class="collection-item avatar">
              <i class="material-icons circle green">fitness_center</i>
              <h6>{{ exercise_in_workout.exercise.name|capfirst }}</h6>
              <p>
                <strong>Sets:</strong> {{ exercise_in_workout.sets }}<br>
                <strong>Weight:</strong> {{ exercise_in_workout.weight }}<br>
                <strong>Reps:</strong> {{ exercise_in_workout.reps }}<br>
                <strong>Tempo:</strong> {{ exercise_in_workout.tempo }}<br>
                <strong>Rest:</strong> {{ exercise_in_workout.rest }}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-action">
        <a href="{% url 'begin_workout' workout.id %}" class="waves-effect waves-light btn-small">Begin Workout</a>
        <a href="{% url 'workout_update' workout.id %}" class="waves-effect waves-light btn-small blue">Edit</a>
        <a href="{% url 'workout_delete' workout.id %}" class="waves-effect waves-light btn-small red">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
