{% extends 'base.html' %} 
{% block content %}

<h3 style="text-align: center;">Workout History</h3>

<div class="row">
{% for workout in workouts %}
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <a href="{% url 'workouts_detail' workout.id %}">
          <h6 style="text-align: center;">{{ workout.name|capfirst }}</h6>
          <p style="text-align: center;">{{ workout.date }}</p>
        </a>
      </div>
      <div class="card-action">
        <a href="{% url 'workout_delete' workout.id %}" class="waves-effect waves-light btn-small red">Delete</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
