{% extends 'base.html' %} 
{% block content %}

<h3 style="text-align: center;">Your Workout Templates</h3>

<div class="row">
{% for workout in workouts %}
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <a href="{% url 'workouts_detail' workout.id %}">
          <h6 style="text-align: center;">{{ workout.name|capfirst }}</h6>
        </a>
      </div>
      <div class="card-action">
        <a href="{% url 'begin_workout' workout.id %}" class="waves-effect waves-light btn-small">Begin Workout</a>
        <a href="{% url 'workout_update' workout.id %}" class="waves-effect waves-light btn-small blue">Edit</a>
        <a href="{% url 'workout_delete' workout.id %}" class="waves-effect waves-light btn-small red">Delete</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
