{% extends 'base.html' %}
{% block content %}
<div class="container">
  {% if form.instance.pk %}
    <h1>Edit {{ workout_name }}</h1>
  {% else %}
    <h1>Create a New Workout</h1>
  {% endif %}

  {% if form.instance.pk %}
    <form action="{% url 'workout_update' form.instance.pk %}" method="POST">
  {% else %}
    <form action="{% url 'workout_create' %}" method="POST">
  {% endif %}
    {% csrf_token %}

    <div class="input-field">
      <label for="id_name">Workout Name:</label>
      <input type="text" id="id_name" name="name" value="{{ form.instance.name }}" required />
    </div>

    <ul id="workout-exercises">
      {% if form.instance.pk %}
            {% for exercise_in_workout in form.instance.exerciseinworkout_set.all %}
        <li data-exercise-id="{{ exercise_in_workout.exercise.id }}">
          <span>{{ exercise_in_workout.exercise.name }}</span>
          <span> Sets: {{ exercise_in_workout.sets }} </span>
          <span> Weight: {{ exercise_in_workout.weight }} </span>
          <span> Reps: {{ exercise_in_workout.reps }} </span>
          <span> Tempo: {{ exercise_in_workout.tempo }} </span>
          <span> Rest: {{ exercise_in_workout.rest }} </span>
          <button type="button" class="delete-exercise-btn">Delete</button>
        </li>
      {% endfor %}
      {% endif %}
    </ul>

    <input type="hidden" id="exercises-input" name="exercises" value="
      {% if form.instance.pk %}
          {% for exercise_in_workout in form.instance.exerciseinworkout_set.all %}
              {% if not forloop.first %},{% endif %}{{ exercise_in_workout.exercise.id }}
          {% endfor %}
      {% endif %}
"/>

    <div class="row">
        <div class="input-field col s12">
          <input type="text" id="autocomplete-input" class="autocomplete" placeholder="Start typing exercise name..." />
          <label for="autocomplete-input">Exercise</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s2">
          <input type="number" id="sets-input" placeholder="Sets..." />
          <label for="sets-input">Sets</label>
        </div>

        <div class="input-field col s2">
          <input type="number" id="weight-input" placeholder="Weight..." />
          <label for="weight-input">Weight</label>
        </div>

        <div class="input-field col s2">
          <input type="number" id="reps-input" placeholder="Reps..." />
          <label for="reps-input">Reps</label>
        </div>

        <div class="input-field col s2">
          <input type="text" id="tempo-input" placeholder="Tempo..." />
          <label for="tempo-input">Tempo</label>
        </div>

        <div class="input-field col s2">
          <input type="number" id="rest-input" placeholder="Rest time..." />
          <label for="rest-input">Rest Time</label>
        </div>
    </div>

    <button type="button" id="add-exercise-btn" class="btn">Add Exercise</button>
    <input type="submit" value="Submit" class="btn" />
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('add-exercise-btn').addEventListener('click', addExerciseToWorkout);
    const deleteExerciseButtons = document.querySelectorAll('.delete-exercise-btn');
    deleteExerciseButtons.forEach(button => button.addEventListener('click', deleteExercise));
    const exerciseData = {
      {% for exercise in exercise_list %}
      "{{ exercise.name }}": "{{ exercise.id }}",
      {% endfor %}
    };

    console.log('exerciseData:', exerciseData);

    var elems = document.querySelectorAll('.autocomplete');
    var instances = M.Autocomplete.init(elems, {
      data: exerciseData,
      minLength: 1,
    });

    const workoutExercisesList = document.getElementById('workout-exercises');
    const exercisesInput = document.getElementById('exercises-input');

  function deleteExercise(e) {
    const listItem = e.target.closest('li');
    const exerciseId = listItem.getAttribute('data-exercise-id');

    workoutExercisesList.removeChild(listItem);

    const currentExercises = new Set(exercisesInput.value.split(',').filter(Boolean));
    currentExercises.delete(exerciseId);

    exercisesInput.value = [...currentExercises].join(',');
  }

function addExerciseToWorkout() {
  const autocompleteInput = document.getElementById('autocomplete-input');
  const setsInput = document.getElementById('sets-input');
  const weightInput = document.getElementById('weight-input');
  const repsInput = document.getElementById('reps-input');
  const tempoInput = document.getElementById('tempo-input');
  const restInput = document.getElementById('rest-input');

  const exerciseName = autocompleteInput.value.trim();
  const sets = setsInput.value.trim();
  const weight = weightInput.value.trim();
  const reps = repsInput.value.trim();
  const tempo = tempoInput.value.trim();
  const rest = restInput.value.trim();

  if (exerciseName !== '' && exerciseData.hasOwnProperty(exerciseName)) {
    const exerciseId = exerciseData[exerciseName];

    const listItem = document.createElement('li');

    const exerciseAttributeElement = document.createElement('span');
    exerciseAttributeElement.setAttribute('data-attribute', 'exercise');
    exerciseAttributeElement.textContent = exerciseName;
    listItem.appendChild(exerciseAttributeElement);

    const setsElement = document.createElement('span');
    setsElement.setAttribute('data-attribute', 'sets');
    setsElement.textContent = 'Sets: ' + sets;
    listItem.appendChild(setsElement);

    const weightElement = document.createElement('span');
    weightElement.setAttribute('data-attribute', 'weight');
    weightElement.textContent = 'Weight: ' + weight;
    listItem.appendChild(weightElement);

    const repsElement = document.createElement('span');
    repsElement.setAttribute('data-attribute', 'reps');
    repsElement.textContent = 'Reps: ' + reps;
    listItem.appendChild(repsElement);

    const tempoElement = document.createElement('span');
    tempoElement.setAttribute('data-attribute', 'tempo');
    tempoElement.textContent = 'Tempo: ' + tempo;
    listItem.appendChild(tempoElement);

    const restElement = document.createElement('span');
    restElement.setAttribute('data-attribute', 'rest');
    restElement.textContent = 'Rest: ' + rest;
    listItem.appendChild(restElement);

    const deleteButton = document.createElement('button');
    deleteButton.type = 'button';
    deleteButton.className = 'delete-exercise-btn';
    deleteButton.textContent = 'Delete';
    deleteButton.addEventListener('click', deleteExercise);
    listItem.appendChild(deleteButton);

    workoutExercisesList.appendChild(listItem);

    const currentExercises = new Set(exercisesInput.value.split(',').filter(Boolean));

    currentExercises.add(exerciseId);

    exercisesInput.value = [...currentExercises].join(',');

    autocompleteInput.value = ''; 
    setsInput.value = '';
    weightInput.value = '';
    repsInput.value = '';
    tempoInput.value = '';
    restInput.value = '';
  }
}
  });
</script>
{% endblock %}