{% extends 'base.html' %} {% block content %}

<h1>Welcome to FitBuddy!</h1>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h6>Some Inspiring Quote</h6>
        <p>"{{quote}}" - {{author}}</p>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col s12 m6 l4">
    <div class="card indigo">
      <div class="card-content">
        <span class="card-title white-text">Fitness Tips for Newbies</span>
        <div class="video-iframe">
          <iframe src="https://www.youtube.com/embed/z7EewP9k_7w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <br />
<div class="row">
  <div class="col s12 m6 l4">
    <div class="card indigo">
      <div class="card-content">
        <span class="card-title white-text">Ted Talk-importance of Hydration</span>
        <div class="video-iframe">
          <iframe src="https://www.youtube.com/embed/6QINhoywpRA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <br /> 
  <div class="row">
  <div class="col s12 m6 l4">
    <div class="card white-text">
      <div class="card-content indigo">
        <span class="card-title">Beginners guide to the gym</span>
        <div class="video-iframe">
          <iframe src="https://www.youtube.com/embed/EKUNGQ4LmH8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
<br /> 
  <div class="row">
  <div class="col s12 m6 l4">
    <div class="card white-text">
      <div class="card-content indigo">
        <span class="card-title">DONT GET HURT</span>
        <div class="video-iframe">
          <iframe src="https://www.youtube.com/embed/pkkqEzuON-A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
<br />
  <div class="row">
  <div class="col s12 m6 l4">
    <div class="card white-text">
      <div class="card-content indigo">
        <span class="card-title">Change your mindset!</span>
        <div class="video-iframe">
          <iframe src="https://www.youtube.com/embed/VVyEjBHiZOo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
  <div class="col s12 m6 l4">
    <div class="card white-text">
      <div class="card-content indigo">
        <span class="card-title">Tips to reduce muscle soreness</span>
        <div class="video-iframe">
          <iframe src="https://www.youtube.com/embed/qnykcS5jeFo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
