{% extends 'base.html' %}

{% block content %}
<style>
    #map-container {
        height: 400px;
    }
</style>
<div class="row">
    <div class="col s9" id="map-container">
        <div id="map" style="height: 100%;"></div>
    </div>
    
        
        <div class="card" id="additional-content">
            <!-- Add content for the additional div here -->
            <h5>Plan a Route!</h5>
            <p>Search an address in the input field and press Set Start Point to start planning your route! </p>
            <p>Feel free to add more content here.</p>
        </div>
    
</div>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script>
        var map;
        var markers = [];
        var maxPoints = 20;
        var routeLayer;
        var centerMarker;
        

        function initMap() {
            map = L.map('map').setView([38.9072, -77.0369], 13);
            map.zoomControl.setPosition('topright');

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap'
            }).addTo(map);

            addCenterMarker();
            setupEventListeners();
            L.control.scale().addTo(map);
            L.control.measure({ position: 'topleft', primaryLengthUnit: 'kilometers', secondaryLengthUnit: 'miles', primaryAreaUnit: undefined, secondaryAreaUnit: undefined }).addTo(map);

            // Add click event listener to each marker to remove it when clicked
            markers.forEach(marker => {
                marker.on('click', () => {
                    if (markers.length > 2) {
                        map.removeLayer(marker);
                        markers = markers.filter(m => m !== marker);
                        drawRoute();
                    }
                });
            });
        }

        function addCenterMarker() {
            centerMarker = L.marker([38.9072, -77.0369]).addTo(map)
                .bindPopup('Route Start')
                .openPopup();
            markers.push(centerMarker);
        }

        function setupEventListeners() {
            map.on('click', onMapClick);
        }

        function haversineDistance(latlng1, latlng2) {
            const R = 6371e3; // Earth's radius in meters
            const φ1 = latlng1.lat * Math.PI / 180;
            const φ2 = latlng2.lat * Math.PI / 180;
            const Δφ = (latlng2.lat - latlng1.lat) * Math.PI / 180;
            const Δλ = (latlng2.lng - latlng1.lng) * Math.PI / 180;
            const a = Math.sin(Δφ / 2) * Math.sin(Δφ / 2) +
                Math.cos(φ1) * Math.cos(φ2) *
                Math.sin(Δλ / 2) * Math.sin(Δλ / 2);
            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            const distance = R * c;

            return distance;
        }

        function updateDistance() {
            if (markers.length >= 2) {
                var totalDistanceMeters = 0;
                for (let i = 0; i < markers.length - 1; i++) {
                    totalDistanceMeters += haversineDistance(markers[i].getLatLng(), markers[i + 1].getLatLng());
                }

                var totalDistanceKm = totalDistanceMeters / 1000; // Convert to kilometers
                var totalDistanceMiles = totalDistanceMeters / 1609.344; // Convert to miles

                document.getElementById('distance-info').innerHTML = 'Total Distance (Metric): ' + totalDistanceKm.toFixed(2) + ' km<br>Total Distance (Standard): ' + totalDistanceMiles.toFixed(2) + ' miles';
            } else {
                document.getElementById('distance-info').innerHTML = '';
            }
        }

        function drawRoute() {
            if (markers.length >= 2) {
                if (routeLayer) {
                    map.removeLayer(routeLayer);
                }

                var accessToken = 'pk.eyJ1IjoiY29yeWRlc21vbmQiLCJhIjoiY2xrd3dyZWpnMDFhbzNjbGh5Nnl3aG0wMiJ9.HtNomU3DJ-8ksPpjK9h5vQ'; // Replace this with your Mapbox access token
                var waypoints = markers.map(marker => marker.getLatLng());
                var waypointsStr = waypoints.map(point => point.lng + ',' + point.lat).join(';');
                var url = `https://api.mapbox.com/directions/v5/mapbox/driving/${waypointsStr}?geometries=geojson&access_token=${accessToken}`;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        var route = data.routes[0].geometry;
                        routeLayer = L.geoJSON(route, { color: 'blue' }).addTo(map);
                        updateDistance();
                    });
            } else {
                centerMarker.setPopupContent('Start route');
                if (routeLayer) {
                    map.removeLayer(routeLayer);
                }
                updateDistance();
            }
        }

        function onMapClick(e) {
    if (markers.length < maxPoints) {
        var clickedCoordinates = e.latlng;
        var pointNumber = markers.length + 1; // Start numbering from 1
        var marker = L.marker(clickedCoordinates).addTo(map)
            .bindPopup('Point ' + pointNumber + ': You stopped here '  )
            .openPopup();
        markers.push(marker);
        drawRoute();
    }
}

        function setStartPoint() {
            var address = document.getElementById('address').value;
            if (address !== '') {
                var geocoder = L.Control.Geocoder.nominatim();
                geocoder.geocode(address, function (results) {
                    if (results && results.length > 0) {
                        var latlng = results[0].center;
                        var startingLatLng = L.latLng(latlng.lat, latlng.lng);
                        markers[0].setLatLng(startingLatLng);
                        map.setView(startingLatLng, 13);
                        centerMarker.setPopupContent('Distance Calculation Starting Address: ' + address);
                        drawRoute();
                    }
                });
            }
            return false; // Prevent form submission
        }

        function savePoints() {
            var savedPoints = markers.map(marker => ({
                lat: marker.getLatLng().lat,
                lng: marker.getLatLng().lng
            }));
            localStorage.setItem('savedPoints', JSON.stringify(savedPoints));
        }

        function loadPoints() {
            var savedPointsStr = localStorage.getItem('savedPoints');
            if (savedPointsStr) {
                var savedPoints = JSON.parse(savedPointsStr);
                clearMarkers();
                savedPoints.forEach(point => {
                    var latlng = L.latLng(point.lat, point.lng);
                    var marker = L.marker(latlng).addTo(map);
                    markers.push(marker);
                });
                drawRoute();
            }
        }

        function clearMarkers(keepCenterMarker = false) {
    if (!keepCenterMarker) {
        map.removeLayer(centerMarker);
        centerMarker = L.marker([38.9072, -77.0369]).addTo(map)
            .bindPopup('Route Start')
            .openPopup();
        markers = [centerMarker];
    } else {
        markers.forEach((marker, index) => {
            if (marker !== centerMarker) {
                map.removeLayer(marker);
                // Renumber the points if needed
                marker.setPopupContent('Point ' + (index + 1));
            }
        });
        markers = [centerMarker];
    }

    if (routeLayer) {
        map.removeLayer(routeLayer);
        routeLayer = null;
    }
    updateDistance();
}

        function deletePoints() {
            clearMarkers(true); // Pass "true" to keep the center marker
            drawRoute();
        }

        initMap();
    </script>
    <div class="col s3" style="height: 400px; overflow-y: auto;">
        <div id="distance-info"></div>
        <input style="width: 74%;" type="text" id="address" placeholder="Enter an address">
        <br>
        <button class="waves-effect waves-light btn-small indigo button" onclick="setStartPoint()">Set Start Point</button>
        <button class="waves-effect waves-light btn-small indigo button" onclick="savePoints()">Save Points</button>
        <button class="waves-effect waves-light btn-small indigo button" onclick="loadPoints()">Load Points</button>
        <button class="waves-effect waves-light btn-small indigo button" onclick="deletePoints()">Delete Points</button>
    </div>

</div>

{% endblock %}
