{% extends 'base.html' %}

{% block content %}
<style>
    #map-container {
        height: 400px;
    }
    .saved-route {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px; /* Adjust the margin as needed for spacing */
}
#additional-content {
  margin-bottom: 20px;
}

</style>
<div class="row">
    <div class="col s9" id="map-container">
        <div id="map" style="height: 100%;"></div>
    </div>
    
    <div class="col s3">
        <div class="card" id="additional-content">
            <!-- Add content for the additional div here -->
            <h5>Plan a Route!</h5>
            <p>Search an address in the input field and press Set Start Point to start planning your route! </p>
            <p>After you save your daily route make sure to save and then you can check your progress of the routes you have saved!</p>
        </div>
    </div>
</div>
<div id="saved-routes"></div>

    
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script>
        var map;
        var markers = [];
        var maxPoints = 20;
        var routeLayer;
        var centerMarker;
        

        function initMap() {
            map = L.map('map').setView([38.9072, -77.0369], 13);
            map.zoomControl.setPosition('topright');

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap'
            }).addTo(map);

            addCenterMarker();
            setupEventListeners();
            L.control.scale().addTo(map);
            L.control.measure({ position: 'topleft', primaryLengthUnit: 'kilometers', secondaryLengthUnit: 'miles', primaryAreaUnit: undefined, secondaryAreaUnit: undefined }).addTo(map);

            // Add click event listener to each marker to remove it when clicked
            markers.forEach(marker => {
                marker.on('click', () => {
                    if (markers.length > 2) {
                        map.removeLayer(marker);
                        markers = markers.filter(m => m !== marker);
                        drawRoute();
                        updateAdditionalContent();
                    }
                });
            });
        }

        function addCenterMarker() {
            centerMarker = L.marker([38.9072, -77.0369]).addTo(map)
                .bindPopup('Route Start')
                .openPopup();
            markers.push(centerMarker);
        }

        function setupEventListeners() {
            map.on('click', onMapClick);
        }

        function haversineDistance(latlng1, latlng2) {
            const R = 6371e3; // Earth's radius in meters
            const φ1 = latlng1.lat * Math.PI / 180;
            const φ2 = latlng2.lat * Math.PI / 180;
            const Δφ = (latlng2.lat - latlng1.lat) * Math.PI / 180;
            const Δλ = (latlng2.lng - latlng1.lng) * Math.PI / 180;
            const a = Math.sin(Δφ / 2) * Math.sin(Δφ / 2) +
                Math.cos(φ1) * Math.cos(φ2) *
                Math.sin(Δλ / 2) * Math.sin(Δλ / 2);
            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            const distance = R * c;

            return distance;
        }

        function updateDistance() {
    if (markers.length >= 2) {
        var totalDistanceMeters = 0;
        for (let i = 0; i < markers.length - 1; i++) {
            totalDistanceMeters += haversineDistance(markers[i].getLatLng(), markers[i + 1].getLatLng());
        }

        var totalDistanceKm = totalDistanceMeters / 1000; // Convert to kilometers
        var totalDistanceMiles = totalDistanceMeters / 1609.344; // Convert to miles

        var distanceInfo = 'Total Distance (Metric): ' + totalDistanceKm.toFixed(2) + ' km<br>Total Distance (Standard): ' + totalDistanceMiles.toFixed(2) + ' miles';

        // Get the saved date if it exists
        var savedDate = localStorage.getItem('savedDate');
        if (savedDate) {
            distanceInfo += '<br>Route Saved on: ' + savedDate;
        }

        document.getElementById('distance-info').innerHTML = distanceInfo;
    } else {
        document.getElementById('distance-info').innerHTML = '';
    }
}

        function drawRoute() {
            if (markers.length >= 2) {
                if (routeLayer) {
                    map.removeLayer(routeLayer);
                }

                var accessToken = 'pk.eyJ1IjoiY29yeWRlc21vbmQiLCJhIjoiY2xrd3dyZWpnMDFhbzNjbGh5Nnl3aG0wMiJ9.HtNomU3DJ-8ksPpjK9h5vQ'; // Replace this with your Mapbox access token
                var waypoints = markers.map(marker => marker.getLatLng());
                var waypointsStr = waypoints.map(point => point.lng + ',' + point.lat).join(';');
                var url = `https://api.mapbox.com/directions/v5/mapbox/driving/${waypointsStr}?geometries=geojson&access_token=${accessToken}`;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        var route = data.routes[0].geometry;
                        routeLayer = L.geoJSON(route, { color: 'blue' }).addTo(map);
                        updateDistance();
                    });
            } else {
                centerMarker.setPopupContent('Start route');
                if (routeLayer) {
                    map.removeLayer(routeLayer);
                }
                updateDistance();
            }
        }

        function onMapClick(e) {
    if (markers.length < maxPoints) {
        var clickedCoordinates = e.latlng;
        var pointNumber = markers.length + 1; // Start numbering from 1
        var marker = L.marker(clickedCoordinates).addTo(map)
            .bindPopup('Point ' + pointNumber + ': You stopped here '  )
            .openPopup();
        markers.push(marker);
        drawRoute();
    }
}

        function setStartPoint() {
    var address = document.getElementById('address').value;
    if (address !== '') {
        var geocoder = L.Control.Geocoder.nominatim();
        geocoder.geocode(address, function (results) {
            if (results && results.length > 0) {
                var latlng = results[0].center;
                var startingLatLng = L.latLng(latlng.lat, latlng.lng);
                markers[0].setLatLng(startingLatLng);

                // Remove the existing route layer if it exists
                if (routeLayer) {
                    map.removeLayer(routeLayer);
                }

                // Update the map view to the new start point
                map.whenReady(function () {
                    map.setView(startingLatLng, 13);
                });

                centerMarker.setPopupContent('Distance Calculation Starting Address: ' + address);
                drawRoute();
            } else {
                alert('Address not found. Please enter a valid address.');
            }
        });
    } else {
        alert('Please enter an address.');
    }
}


        function savePoints() {
    var savedRoutesStr = localStorage.getItem('savedRoutes');
    var savedRoutes = savedRoutesStr ? JSON.parse(savedRoutesStr) : [];
    var savedPoints = markers.map(marker => ({
        lat: marker.getLatLng().lat,
        lng: marker.getLatLng().lng
    }));
    savedRoutes.push(savedPoints);
    localStorage.setItem('savedRoutes', JSON.stringify(savedRoutes));

    // Save the current date and time when the route is saved
    var currentDate = new Date().toLocaleString();
    localStorage.setItem('savedDate', currentDate);

    updateAdditionalContent();
}


        function loadPoints(index) {
    var savedRoutesStr = localStorage.getItem('savedRoutes');
    if (savedRoutesStr) {
        var savedRoutes = JSON.parse(savedRoutesStr);
        var savedPoints = savedRoutes[index];
        var startPoint = savedPoints[0]; // Get the first point as the start point

        // Remove the existing route layer if it exists
        if (routeLayer) {
            map.removeLayer(routeLayer);
        }

        // Set the new start point on the map and update the popup content
        centerMarker.setLatLng(L.latLng(startPoint.lat, startPoint.lng));
        centerMarker.setPopupContent('Distance Calculation Starting Address: ' + startPoint.address);

        // Clear all markers except the centerMarker
        clearMarkers(true);

        savedPoints.forEach((point, i) => {
            var latlng = L.latLng(point.lat, point.lng);
            var marker = L.marker(latlng).addTo(map);
            markers.push(marker);

            // Set the popup content for each marker
            marker.setPopupContent('Point ' + (i + 1) + ': You stopped here');
        });

        drawRoute();

        // Find the bounding box of the route
        var routeBounds = L.latLngBounds(savedPoints.map(point => [point.lat, point.lng]));

        // Pan the map to fit within the bounding box with a slightly more zoomed-out view
        map.fitBounds(routeBounds, { padding: [50, 50], maxZoom: map.getZoom() - 1 });
    }
}






function updateAdditionalContent() {
    var savedRoutesStr = localStorage.getItem('savedRoutes');
    if (savedRoutesStr) {
        var savedRoutes = JSON.parse(savedRoutesStr);
        var savedRoutesContainer = document.getElementById('saved-routes');
        savedRoutesContainer.innerHTML = ''; // Clear existing content

        savedRoutes.forEach((route, index) => {
            var routeContainer = document.createElement('div');

            var link = document.createElement('a');
            link.href = '#';
            link.textContent = 'Route ' + (index + 1);
            link.onclick = function () {
                loadPoints(index);
                return false;
            };

            var deleteButton = document.createElement('button');
            deleteButton.textContent = 'Delete';
            deleteButton.onclick = function () {
                deleteRoute(index);
                return false;
            };

            routeContainer.appendChild(link);
            routeContainer.appendChild(document.createTextNode(' ')); // Add spacing between link and delete button
            routeContainer.appendChild(deleteButton);

            savedRoutesContainer.appendChild(routeContainer);
            savedRoutesContainer.appendChild(document.createElement('br'));
        });
    }
}

function deleteRoute(index) {
    var savedRoutesStr = localStorage.getItem('savedRoutes');
    if (savedRoutesStr) {
        var savedRoutes = JSON.parse(savedRoutesStr);
        savedRoutes.splice(index, 1);
        localStorage.setItem('savedRoutes', JSON.stringify(savedRoutes));

        updateAdditionalContent();
    }
}
function displaySavedRoutes() {
    var savedRoutesStr = localStorage.getItem('savedRoutes');
    if (savedRoutesStr) {
        var savedRoutes = JSON.parse(savedRoutesStr);
        clearMarkers();
        savedRoutes.forEach((savedPoints, index) => {
            savedPoints.forEach(point => {
                var latlng = L.latLng(point.lat, point.lng);
                var marker = L.marker(latlng).addTo(map);
                markers.push(marker);
            });
        });
        drawRoute();
    }
}





        function clearMarkers(keepCenterMarker = false) {
    if (!keepCenterMarker) {
        map.removeLayer(centerMarker);
        centerMarker = L.marker([38.9072, -77.0369]).addTo(map)
            .bindPopup('Route Start')
            .openPopup();
        markers = [centerMarker];
    } else {
        markers.forEach((marker, index) => {
            if (marker !== centerMarker) {
                map.removeLayer(marker);
                // Renumber the points if needed
                marker.setPopupContent('Point ' + (index + 1));
            }
        });
        markers = [centerMarker];
    }

    if (routeLayer) {
        map.removeLayer(routeLayer);
        routeLayer = null;
    }
    updateDistance();
}

        function deletePoints() {
            clearMarkers(true); // Pass "true" to keep the center marker
            drawRoute();
        }

        initMap();
    </script>
    <div class="col s3" style="height: 400px; overflow-y: auto;">
        <div id="distance-info"></div>
        <input style="width: 74%;" type="text" id="address" placeholder="Enter an address">
        <br>
        <button class="waves-effect waves-light btn-small indigo button" onclick="setStartPoint()">Set Start Point</button>
        <button class="waves-effect waves-light btn-small indigo button" onclick="savePoints()">Save Points</button>
        <button class="waves-effect waves-light btn-small indigo button" onclick="loadPoints()">Load Points</button>
        <button class="waves-effect waves-light btn-small indigo button" onclick="deletePoints()">Delete Points</button>
    </div>

</div>

{% endblock %}
