{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <h3 style="text-align: center;">{{ profile.user }}</h3>
        <ul class="collection">
          <li class="collection-item avatar">
            <i class="material-icons circle green">person</i>
            <h6>Bio:</h6><p>{{ profile.bio|default:"N/A" }}</p>
            <h6>Age:</h6><p>{{ profile.age|default:"N/A" }}</p>
            <h6>Height:</h6><p>{% if profile.height_unit == 'cm' %}{{ profile.height }} cm{% else %}{{ height_display|default:"N/A" }}{% endif %}</p>
            <h6>Weight:</h6><p>{% if profile.weight_unit == 'kg' %}{{ profile.weight }} kg{% else %}{{ weight_display|default:"N/A" }}{% endif %}</p>
          </li>
        </ul>
      </div>
      <div class="card-action">
        <a href="{% url 'workouts_history' %}" class="waves-effect waves-light btn-small blue">History</a>
        <a href="{% url 'profiles_update' profile.id %}" class="waves-effect waves-light btn-small blue">Edit</a>
        <a href="{% url 'profiles_delete' profile.id %}" class="waves-effect waves-light btn-small red">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
