{% extends 'base.html' %}
{% block content %}



          

    <h1>Your Exercises</h1>
    <ul>
        {% for exercise in user_exercises %}
        <div class="container">
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-image">
            <li style="font-size: 20px;" >Name: {{ exercise.name }} </li>
            <li style="font-size: 20px;" >Force: {{ exercise.force }} </li>
            <li style="font-size: 20px;" > Level: {{ exercise.level }} </li>
            <li style="font-size: 20px;" > Mechanic: {{ exercise.mechanic }} </li>
            <li style="font-size: 20px;" > Equipment: {{ exercise.equipment }} </li>
            <li style="font-size: 20px;" > Primary Muscles: {{ exercise.primaryMuscles }} </li>
            <li style="font-size: 20px;" > Secondary Muscles: {{ exercise.secondaryMuscles }} </li>
            <li style="font-size: 20px;" >Category: {{ exercise.category }} </li>
            <li style="font-size: 20px;" > Images: {{ exercise.images }} </li>
            <li style="font-size: 20px;" >Instructions: {{ exercise.instructions }} </li>
            </div>
      </div>
    </div>
  </div>
</div>
        {% endfor %}
    </ul>

{% endblock %}