body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#app-icon {
  border-radius:50%; 
  padding-left:10%;
  margin-top:10%;
}

#workout-exercises label {
  margin-right: 10px;
}

#workout-exercises span[data-attribute] {
  margin-left: 10px;
}

.video-iframe {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.video-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}